*{
    margin: 0;
    padding: 0;
}
html,
body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #ffffff;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;

}

ul, ol, li {
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100%;
    min-width: 100%;

}

.molpad{
    /*height: calc(100% - 60px);*/
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    padding: 5px;
    margin: 5px;

}
.canvas-content, .toolbar, .questionbar{
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

.toolbar{
    margin-left: 5px;
    margin-right: 10px;
}

.questionbar{
    margin-right: 10px;
    padding: 0 0 8px 5px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: stretch;
    flex: 1;
}
.task, .button{
    text-align: center;
}


.task{
    margin-bottom: 250px;
}

.button-panel{
    min-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;


}
.btn{
    /*
    margin-left: 8px;
    float: left;
    height: 50px;
    width: calc(50% - 8px);
    min-width: 150px;
    cursor: pointer;
    color: white;
    background-color: #2196F3;
    */
    position: relative;

    width: 150px;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2196F3;
    color: #ecf0f1;

    transition: background-color .3s;

}

btn:hover, .btn:focus {
    background-color: #1976D2;
}

.btn > * {
    position: relative;
}

#questionbar{

}

.btn span {
    display: block;
    padding: 12px 24px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(227, 242, 253, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
    box-sizing: border-box;
}

.material-icons.md-36{
     font-size: 36px;
     text-align: center;
     vertical-align: middle;
 }

.toolbar-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 560px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.toolbar-inner >div, .empty-tool{
    line-height: 50px;
    width: 50px;
    height: 50px;
}
.tool-button{
    font-family: 'Roboto Black', sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
}
.toolbar-inner >div:active{
    background: #2196F3;

}




#single-bond{
    background-image: url('../img/bond/single.svg');
}

#double-bond{
    background-image: url('../img/bond/double.svg');
}

#triple-bond{
    background-image: url('../img/bond/triple.svg');
}

#single-bond, #double-bond, #triple-bond{
    background-repeat: no-repeat;
    background-position: center;
}
