<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/menu-styles.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-styles.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/pt-styles.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/head-styles.css') }}">

            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                {% include 'header-template.html' %}
            </header>
            {% include 'menu-template.html' %}
            {% block molpad %}
            {% endblock %}

        </div>
        <script src="{{ url_for('static', filename='js/modal.js') }}">
        </script>
        <script src="{{ url_for('static', filename='js/menu.js') }}">
        </script>
        <script src="{{ url_for('static', filename='js/script.js') }}">
        </script>
        <script src="{{ url_for('static', filename='js/bondLayout.js') }}">
        </script>
        <script src="{{ url_for('static', filename='js/instruments.js') }}">
        </script>
        <script src="{{ url_for('static', filename='js/drawFromSMILES.js') }}">
        </script>
    </body>
</html>
